{% extends 'base.html.twig' %}

{% block navigation_links %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
            <a href="{{ path('fos_user_profile_show') }}">
                Show profile
            </a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('fos_user_security_login') }}" role="button">Login</a>
        </li>
        <li>
            <a href="{{ path('fos_user_registration_register') }}" role="button">Sign up</a>
        </li>
    {% endif %}

{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if is_granted('ROLE_USER') == false %}
            <h1 class="display-3">You are not logged in</h1>
            <p class="lead">To start managing your smart devices login or sign up.</p>
            <p>
            </p>
        {% else %}
            <h1 class="display-3">You are logged in</h1>
            <p>
            <ul>
                {% for key, name in character %}
                    <li> {{ name }}</li>
                {% endfor %}
            </ul>
            </p>
        {% endif %}
    </div>
{% endblock %}