{% extends 'layout.html.twig' %}

{% block content_title %}
    Manage all your sensors here
{% endblock %}
{% block content %}
    <div class="alert alert-info new-sensors" style="display: none">
        <strong>Found new sensor!</strong> Want to refresh page?
        <a class="btn btn-info" href="{{ path('sensor') }}">Refresh</a>
    </div>
    <div class="jumbotron">
        <a class="btn btn-primary" href="{{ path('sensor_check_all_status') }}"><span
                    class="glyphicon glyphicon glyphicon-refresh"></span> Refresh all</a>
        <br>
        <br>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">UUID</th>
                <th scope="col">Room</th>
                <th scope="col">Status</th>
                <th scope="col">Online</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, entity in entities %}
                <tr id="sensor" data-uuid="{{ entity.uuid }}">
                    <td>
                        {% if entity.name is null %}
                            <div class="name-not-set text-danger">
                                <strong>Not set.</strong>
                            </div>
                        {% else %}
                            {{ entity.name }}
                        {% endif %}
                    </td>
                    <td>{{ entity.uuid }}</td>
                    <td>
                        {% if entity.room is null %}
                            <div class="room-not-set text-danger">
                                <strong>Not set.</strong>
                            </div>
                        {% else %}
                            {{ entity.room.room }} on floor {{ entity.room.floor }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.switchable == true and entity.adjustable == false %}
                            {{ entity.status | onOffInt }}
                        {% else %} {{ entity.status }}
                        {% endif %}
                    </td>
                    {% set status = entity.active | inversedBoolToInt %}
                    {% set active = entity.active | boolToInt %}
                    <td>
                        {% if active == 1 %}
                            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-circle-arrow-down text-danger"></span>
                        {% endif %}</td>
                    <td>
                        {% if entity.switchable == true and entity.adjustable == false %}
                            <a class="btn btn-info"
                               href="{{ path('sensor_set_status', {'uuid' : entity.uuid, 'status' : status }) }}">Turn {{ status | onOffBoolean }}</a>
                        {% elseif entity.switchable == true and entity.adjustable == true %}
                            <div class="slidercontainer">
                                <label for="sensorStatusSet-{{ entity.uuid }}">Value:</label>
                                <input type="text" disabled class="sensorStatusOutput"
                                       id="sensorStatusOutput-{{ entity.uuid }}" value="{{ entity.status }}"/>
                                <input type="range" step="1" min="{{ entity.minimumValue }}"
                                       max="{{ entity.maximumValue }}"
                                       value="{{ entity.status }}" class="sensorStatusSet slider"
                                       id="sensorStatusSet-{{ entity.uuid }}">
                            </div>
                            {% if entity.status != 0 %}
                                <a class="btn btn-info"
                                   href="{{ path('sensor_set_status', {'uuid' : entity.uuid, 'status' : 0 }) }}">Turn
                                    off</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-info"
                               href="{{ path('sensor_check_single_status', {'uuid' : entity.uuid }) }}"><span
                                        class="glyphicon glyphicon glyphicon-refresh"></span> Refresh</a>
                        {% endif %}
                        <a class="btn btn-info" href="{{ path(route ~ '_edit', {'id' : entity.id}) }}"><span
                                    class="glyphicon glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger" href="{{ path(route ~ '_delete', {'id' : entity.id}) }}"><span
                                    class="glyphicon glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}