{% extends 'layout.html.twig' %}

{% block content_title %}
    Manage all your rooms here
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <a class="btn btn-primary" href="{{ path(route ~ '_add') }}">Add new room</a>
        <br>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Room name</th>
                <th scope="col">Floor</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.room }}</td>
                    <td>{{ entity.floor }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path(route ~ '_edit', {'id' : entity.id}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path(route ~ '_delete', {'id' : entity.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}